@using Microsoft.AspNetCore.Http
@model Utility.PaginatedList<Models.Product>
@{
    string token = Context.Session.GetString("token");
    string searchContent = ViewBag.searchContent;
    int min = ViewBag.min;
    int max = ViewBag.max;
    int sort_order = ViewBag.sort_order;
    int TotalProduct = ViewBag.TotalProduct;

    List<int> filterPrices = ViewBag.FilterPrices;
    List<Models.Category> categories = ViewBag.Categories;
}

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form asp-action="Index">
                            <input type="text" name="searchContent" value="@searchContent" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @foreach (var item in categories)
                                                {
                                                    <li><a asp-action="Index" asp-route-searchContent="@item.Description">@item.Description (@item.Products.Count())</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Filter Price</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                @{
                                                    int quantityFilterPrice = filterPrices.Count();
                                                    int minPrice = 0;
                                                    int maxPrice = 0;
                                                    string priceDisplay = "";

                                                    if (quantityFilterPrice > 1)
                                                    {
                                                        @for(int i = 0; i < quantityFilterPrice; i++)
                                                        {
                                                            minPrice = filterPrices[i];
                                                            if (i < quantityFilterPrice - 1)
                                                            {
                                                                maxPrice = filterPrices[i + 1];
                                                                priceDisplay = $"{minPrice / 1000} - {maxPrice / 1000} K VND";
                                                            }
                                                            else
                                                            {
                                                                maxPrice = int.MaxValue;
                                                                priceDisplay = $"{minPrice / 1000}+ K VND";
                                                            }

                                                            var parms = new Dictionary<string, string>
                                                            {
                                                                { "searchContent", searchContent },
                                                                { "min", minPrice.ToString() },
                                                                { "max", maxPrice.ToString() },
                                                                { "sort_order", sort_order.ToString() },
                                                            };
                                                            <li><a asp-action="Index" asp-all-route-data="@parms">@priceDisplay</a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of @Model.TotalItem results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select id="sort-order" onchange="sortProductByPrice()">
                                    <option value="1">Low To High</option>
                                    <option value="2">High To Low</option>
                                </select>

                                @{
                                    var parms2 = new Dictionary<string, string>
                                        {
                                            { "searchContent", searchContent },
                                            { "min", min.ToString() },
                                            { "max", max.ToString() },
                                            { "sort_order", sort_order.ToString() },
                                        };
                                }
                                <a id="sort-link" class="btn btn-primary" asp-action="Index" asp-all-route-data="@parms2">Sort</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="product-list">
                    @foreach(var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="@item.Thumbnail">
                                    @if (item.CreateAt >= DateTime.Now.AddDays(-7))
                                    {
                                        <span class="label">New</span>
                                    }
                                    <ul class="product__hover">
                                        @*<li><a href="#"><img src="~/img/icon/heart.png" alt=""></a></li>
                                        <li><a href="#"><img src="~/img/icon/compare.png" alt=""> <span>Compare</span></a></li>*@
                                        <li><a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id })"><img src="~/img/icon/search.png" alt="@item.Title"></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>@item.Title</h6>
                                    @if(String.IsNullOrEmpty(token))
                                    {
                                        <a asp-action="Login" asp-controller="Account">Login to buy</a>
                                    }
                                    else
                                    {
                                        <a style="cursor: pointer" id="addCart" class="add-cart" data-id="@item.Id">+ Add To Cart</a>
                                    }

                                    @{
                                        int? numberOfStar = null;
                                        if (item.Reviews.Any())
                                        {
                                            numberOfStar = item.Reviews.Sum(x => x.Rate) / item.Reviews.Count();
                                        }
                                    }

                                    <div class="rating">
                                        @for(int i = 0; i < 5; i++)
                                        {
                                            if(i < numberOfStar)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star-o"></i>
                                            }
                                        }
                                        <i hidden class="fa fa-star"></i>
                                    </div>

                                    <h5>$@item.RecentPrice</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            @{
                                var smallPage = (Model.PageIndex-2)>0 ? Model.PageIndex-2 : 1;
                                int bigPage = (Model.PageIndex+2)<=Model.TotalPages ? Model.PageIndex+2 : Model.TotalPages;

                                for (var j = smallPage; j<=bigPage; j++)
                                {
                                    var parms3 = new Dictionary<string, string>
                                        {
                                            { "searchContent", searchContent },
                                            { "min", min.ToString() },
                                            { "max", max.ToString() },
                                            { "sort_order", sort_order.ToString() },
                                            { "pageIndex", j.ToString() },
                                        };
                                    string isActive = j == Model.PageIndex ? "active" : "";
                                    <a class="@isActive" asp-action="Index" asp-all-route-data="@parms3">@j</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<script>
    const selectElement = document.getElementById('sort-order');
    const sortLink = document.getElementById('sort-link');
    document.getElementById("sort-order").value = @sort_order.ToString();

    function sortProductByPrice() {
        const selectedValue = selectElement.value;
        const newHref = `/Shop?searchContent=@searchContent&min=@min&max=@max&sort_order=${selectedValue}`;
        sortLink.href = newHref;
    }

    $(document).ready(function () {
        var id = $(this).closest('.product__item').data('id');
        var buttons = document.querySelectorAll('#addCart');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var productId = this.dataset.id;

                // Lấy chuỗi token từ cookie hoặc local storage (nếu đã đăng nhập)
                var token = 'Bearer @Html.Raw(token)';

                $.ajax({
                    url: 'https://localhost:44364/api/apigateway/Carts/AddProductToCart',
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization', token);
                    },
                    data: JSON.stringify({ ProductId: productId }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        console.log("success", productId);
                        toastr.success('Product added to cart successfully!');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('Error: ' + textStatus + ' - ' + errorThrown);
                        toastr.error('Error occurred while adding product to cart!');
                    }
                });
            });
        });
    });
</script>