@model List<Models.Product>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Trang Chủ";
    List<Models.Product> ProductsTopSale = ViewBag.ProductsTopSale;
    var isLogin = Context.Session.Get("IsLoggedIn");
}
<section class="hero">
    <div class="hero__slider owl-carousel">
        @for(var i = 1; i <= 2; i++)
        {
            string urlimg = "/images/banner/banner"+i+".jpg";
            <div class="hero__items set-bg" data-setbg="@urlimg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Bộ sư tập</h6>
                                <h2>Nội Thất Sang Trọng</h2>
                                <p>Một nhãn hiệu chuyên nghiệp tạo ra những thứ thiết yếu sang trọng. 
                                    Được chế tác một cách có đạo đức với cam kết vững chắc về chất lượng vượt trội.</p>
                                <a asp-action="Index" asp-controller="Shop" class="primary-btn">Mua ngay<span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="~/images/collection/collection4.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Tươi Mới</h2>
                        <a asp-action="Index" asp-controller="Shop">Mua Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="~/images/collection/collection5.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Đơn Giản</h2>
                        <a asp-action="Index" asp-controller="Shop">Mua Ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="~/images/collection/collection6.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Tận Hưởng</h2>
                        <a asp-action="Index" asp-controller="Shop">Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Sản phẩm hot</li>
                    <li data-filter=".new-arrivals">Mới nhất</li>
                    <li data-filter=".hot-sales">Bán nhiều nhất</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg">
                            <img class="product__item__pic set-bg" src="@item.Thumbnail"/>
                            @if (item.CreateAt >= DateTime.Now.AddDays(-7))
                            {
                                <span class="label">New</span>
                            }
                            <ul class="product__hover">
                                <li><a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id })"><img src="~/img/icon/search.png" alt="@item.Title"></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>@item.Title</h6>
                            @if(isLogin is null)
                            {
                                <a asp-action="Login" asp-controller="Account">Đăng nhập để mua</a>
                            }
                            else
                            {
                                <a style="cursor: pointer" id="addCart" class="add-cart" data-id="@item.Id">+ Thêm vào giỏ hàng</a>
                            }

                            @{
                                int? numberOfStar = null;
                                if (item.Reviews.Any())
                                {
                                    numberOfStar = item.Reviews.Sum(x => x.Rate) / item.Reviews.Count();
                                }
                            }
                            <div class="rating">
                                @for(int i = 0; i < 5; i++)
                                {
                                    if(i < numberOfStar)
                                    {
                                        <i class="fa fa-star" style="color: orange;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }
                                <i hidden class="fa fa-star"></i>
                            </div>
                            <h5>@string.Format("{0:#,##0} đ", item.RecentPrice)</h5>
                        </div>
                    </div>
                </div>
            }
            @if (ProductsTopSale is not null)
            {
                @foreach (var item in ProductsTopSale)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img class="product__item__pic set-bg" src="@item.Thumbnail"/>
                                @if (item.CreateAt >= DateTime.Now.AddDays(-7))
                                {
                                    <span class="label">New</span>
                                }
                                <ul class="product__hover">
                                    <li><a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id })"><img src="~/img/icon/search.png" alt="@item.Title"></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                            <h6>@item.Title</h6>
                            @if(isLogin is null)
                            {
                                <a asp-action="Login" asp-controller="Account">Đăng nhập để mua</a>
                            }
                            else
                            {
                                <a style="cursor: pointer" id="addCart" class="add-cart" data-id="@item.Id">+ Thêm vào giỏ hàng</a>
                            }

                            @{
                                int? numberOfStar = null;
                                if (item.Reviews.Any())
                                {
                                    numberOfStar = item.Reviews.Sum(x => x.Rate) / item.Reviews.Count();
                                }
                            }
                            <div class="rating">
                                @for(int i = 0; i < 5; i++)
                                {
                                    if(i < numberOfStar)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }
                                <i hidden class="fa fa-star"></i>
                            </div>
                            <h5>@string.Format("{0:#,##0} đ", item.RecentPrice)</h5>
                        </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        @{
            var itemNew = Model.FirstOrDefault(); 
        }
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>Có gì mới?<br /> <span>Sản Phẩm Mới </span> <br /> Chất Lượng Mới</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="@itemNew.Thumbnail" alt="">
                    <div class="hot__deal__sticker">
                        <span>Mới</span>
                        <h5>Nhất</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Sản Phẩm Mới Của Shop</span>
                    <h2>@itemNew.Title</h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Ngày</p>
                        </div>  
                        <div class="cd-item">
                            <span>1</span>
                            <p>Giờ</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Phút</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Giây</p>
                        </div>
                    </div>
                    <a asp-action="ProductDetail" asp-controller="Shop" asp-route-id="@itemNew.Id" class="primary-btn">Mua Ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="/images/news/news1.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/images/news/news2.jpg"></div> 
                    <div class="instagram__pic__item set-bg" data-setbg="/images/news/news3.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/images/news/news4.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/images/news/news5.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/images/news/news6.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Không Gian</h2>
                    <p>Nội thất là yếu tố quan trọng trong việc tạo nên không gian sống đẹp và thoải mái.</p>
                    <h3>#TKDecor</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->

<section class="latest spad">
</section>

<script>
    //add product to cart
    $(document).ready(function () {
        var id = $(this).closest('.product__item').data('id');
        var buttons = document.querySelectorAll('#addCart');
        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var productId = this.dataset.id;

                $.ajax({
                    url: urlAddProductToCart,
                    type: 'POST',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization', token);
                    },
                    data: JSON.stringify({ ProductId: productId }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        toastr.success(messSuccess);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error(messError);
                    }
                });
            });
        });
    });
</script>