@using ClientMVC.Views.Shared;
@using Microsoft.AspNetCore.Http
@using Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - TKDecor</title>
    @*<title>@ViewData["Title"] - ClientMVC</title>*@
    <link rel="icon" href="/img/icon/iconhome.png" type="image/icon type">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>

    <!-- Include toastr CSS and JS files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Thư viện Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/variable.js"></script>
</head>
<body>
    @{
        var isLogin = Context.Session.Get("IsLoggedIn");
        var role = Context.Session.GetString("role");
        var email = Context.Session.GetString("email");
    }
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                @if (isLogin == null)
                {
                    <a asp-action="Login" asp-controller="Account">Đăng Nhập</a>
                    <a asp-action="Register" asp-controller="Account">Đăng Ký</a>
                }
                else
                {
                    <a asp-action="Details" asp-controller="Customer">@email</a>
                    <a asp-action="Logout" asp-controller="Account">Đăng Xuất</a>
                }
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/img/icon/search.png" alt=""></a>
            <a asp-action="Cart" asp-controller="Customer"><img src="~/img/icon/cart.png" alt=""> <span>+</span></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Miễn phí vận chuyển, 30 ngày hoàn trả nếu có lỗi.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Miễn phí vận chuyển, 30 ngày hoàn trả nếu có lỗi.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                @if (isLogin == null)
                                {
                                    <a asp-action="Login" asp-controller="Account">Đăng Nhập</a>
                                    <a asp-action="Register" asp-controller="Account">Đăng Ký</a>
                                }
                                else
                                {
                                    <a asp-action="Details" asp-controller="Customer">@email</a>
                                    <a asp-action="Logout" asp-controller="Account">Đăng Xuất</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a asp-action="Index" asp-controller="Home"><img src="/img/logotkdecor.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class=""><a asp-action="Index" asp-controller="Home">Trang Chủ</a></li>
                            <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                            <li><a href="#">Thông tin</a>
                                <ul class="dropdown">
                                    <li><a asp-controller="Shop" asp-action="About">Thông tin</a></li>
                                    <li><a asp-controller="Shop" asp-action="Contact">Liên Lạc</a></li>
                                </ul>
                            </li>
                            @if(role is not null)
                            {
                                if (role.Contains(RoleContent.Admin))
                                {
                                    <li><a href="#">Quản Lí</a>
                                        <ul class="dropdown">
                                            <li><a asp-controller="Admin" asp-action="CreateProduct">Thêm Sản Phẩm</a></li>
                                            <li><a asp-controller="Customer" asp-action="Orders">Đơn Hàng</a></li>
                                            <li><a asp-controller="Admin" asp-action="Dashboard">Thống Kê</a></li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a asp-controller="Customer" asp-action="Orders">Đơn Hàng</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="/img/icon/search.png" alt=""></a>
                        <a asp-action="Cart" asp-controller="Customer"><img src="/img/icon/cart.png" alt=""> <span>+</span></a>
                        <div class="price">Giỏ Hàng</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <div style="margin-bottom: 130px;">
    </div>
    @RenderBody()

    @{ var footerModel = new _FooterModel(); }
    <partial name="_Footer" model="footerModel" />

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form asp-action="Index" asp-controller="Shop" class="search-model-form">
                <input type="text" name="searchContent" placeholder="Tìm kiếm sản phẩm.....">
            </form>
        </div>
    </div>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
